@import "fonts.css";
/*BASIC CONF*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

/*UNIQUE CONF*/
.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.h-100 {
  height: 100%;
}

.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

.section_suptitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #F46752;
}

.section_title {
  font-weight: 500;
  font-size: 45px;
  line-height: 52px;
  color: #1D253C;
}

.section_desc {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #5A6482;
}

.orange_btn {
  width: 220px;
  height: 61px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #F46752;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
}

.price_btn {
  width: 161px;
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #1D253C;
  border: 1px solid rgba(29, 37, 60, 0.2);
  border-radius: 4px;
}

.hollow_btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #126F86;
}

.grid {
  display: grid;
}
.grid_col-6 {
  grid-template-columns: 1fr 1fr;
}
.grid_col-4 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid_col-3 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*UNIQUE CONF*/
/*BASIC CONF*/
/* SECTION HEADER*/
.header {
  height: 105px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.header .container {
  max-width: 1340px;
}
.header_log-in {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #1D253C;
  margin-right: 39px;
}
.header_link {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-left: 35px;
  transition: 0.15s;
}
.header_link:before {
  content: "";
  position: absolute;
  bottom: -2.5px;
  left: 0;
  height: 1px;
  width: 0;
  background: #007188;
  transition: 0.5s;
}
.header_linkk:hover {
  color: #007188;
}
.header_link:hover:before {
  width: 100%;
}

/* SECTION HEADER*/
/* SECTION HERO*/
.hero {
  height: 100vh;
  background: url("../images/hero.png") no-repeat right;
  background-position-y: 17px;
}
.hero .container {
  max-width: 1270px;
}
.hero_content {
  padding-top: 27px;
}
.hero_title {
  width: 463px;
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  text-transform: capitalize;
  color: #1D253C;
}
.hero_suptitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
  color: #F46752;
}
.hero_desc {
  width: 411px;
  margin: 26px 0 40px;
}

/* SECTION HERO*/
/*SECTION FUTURE*/
.future {
  background: #F9F5F2;
  padding: 85px 0;
}
.future_img {
  width: 500px;
  height: 436px;
}
.future_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.future_sm-desc {
  margin-top: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #5A6482;
}
.future_sm-desc:before {
  content: "*";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F46752;
}
.future_suptitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #F46752;
}
.future_title {
  margin: 26px 0 19px;
}
.future_desc {
  margin-bottom: 32px;
}

.future_right-part {
  padding-left: 96px;
}

/*SECTION FUTURE*/
/*SECTION TECHNOLOGY*/
.technology_title {
  margin: 27px 0 35px;
}
.technology_desc {
  width: 483px;
  margin-bottom: 15px;
}
.technology_right-part {
  padding: 148px 0 164px;
}
.technology_img {
  width: 542px;
  height: 510px;
  position: relative;
}
.technology_img img {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.technology_btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #126F86;
}
.technology svg {
  position: absolute;
  top: -35px;
  left: -45px;
}
.technology_comment {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 22px;
  line-height: 28px;
  color: #1D253C;
  background: #FFFFFF;
  box-shadow: 3px 4px 34px rgba(66, 71, 77, 0.11);
  border-radius: 5px;
  width: 326px;
  height: 67px;
  bottom: -25px;
  left: -60px;
  z-index: 11;
}

/*SECTION TECHNOLOGY*/
.insurance {
  background: #F8F8F8;
  padding: 91px 0 85px;
}
.insurance_title {
  margin: 30px 0 37px;
}
.insurance_desc {
  padding: 0 10px 0;
  text-align: center;
  margin-bottom: 41px;
}
.insurance .grid {
  width: 100%;
  grid-column-gap: 70px;
}
.insurance_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  height: 310px;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.04);
}
.insurance_card.card_first img {
  margin-top: 70px;
}
.insurance_first-title {
  margin: 15px 0 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #1D253C;
}
.insurance_first-desc {
  width: 212px;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #5A6482;
}
.insurance_card.card_second img {
  margin-top: 30px;
}

/*SECTION INSURANCE*/

/*# sourceMappingURL=styles.css.map */
